<!DOCTYPE html>
<html ng-app='ChestTimer'>
	<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>ChestTimer</title>

			<link rel='stylesheet' href='{{ url_for("static", filename="normalize.css") }}'>
			<link rel="stylesheet" href='{{ url_for("static", filename="foundation.min.css") }}'>
			<link rel='stylesheet' href='{{ url_for("static", filename="chesttimer.css") }}'>

			<script src="{{ url_for('static', filename='vendor/custom.modernizr.js') }}"></script>
			<script src='{{ url_for("static", filename="angular.min.js") }}'></script>
			<script src='{{ url_for("static", filename="controllers.js") }}'></script>
	</head>

	<body>
		<nav class='top-bar' data-topbar>
			<ul class='title-area'>
				<li class='name'>
					{# fix the url with url_for #}
					<h1><a href='/'>ChestTimer</a></h1>
				</li>
			</ul>

			<section class='top-bar-section'>
				<ul class='right'>
					<li class='divider'></li>
					<li>
						<!-- <a href='{{ url_for("characters") }}'>Characters</a> -->
						{% raw %}
						<a ng-href='#/characters/'>Characters</a>
						{% endraw %}
					</li>
				</ul>
			</section>
		</nav>

		{% block styles %}{% endblock %}

		{% block content %}{% endblock %}

		<script src="{{ url_for('static', filename='vendor/jquery.js') }}"></script>
		<script src="{{ url_for('static', filename='foundation.min.js') }}"></script>
		<script src='{{ url_for("static", filename="chesttimer.js") }}'></script>

		<script>$(document).foundation();</script>

		{% block scripts %}{% endblock %}
	</body>
</html>
