{% extends "base.html" %}

{% macro _select(name, options, none_display=None) %}
<select name='{{ name }}'>
	{% if none_display %}
		<option value=''>{{ none_display }}</option>
	{% endif %}
	{% for elem in options %}
		<option value='{{ elem.value }}'>{{ elem.value }}</option>
	{% endfor %}
</select>
{% endmacro %} {# _select #}

{% block styles %}
<style>
#character-list form {
	margin: 0 !important;
}

#character-list button {
	margin: 0 !important;
}
</style>
{% endblock styles %}

{% block content %}
<div class='row'>
	<div class='columns small-10'>
		<dl class='sub-nav'>
			<dt>Group by:</dt>
			<dd><a href='#' data-order='level'>Level</a></dd>
			<dd><a href='#' data-order='race'>Race</a></dd>
			<dd><a href='#' data-order='profession'>Profession</a></dd>
			<dd><a href='#' data-order='order'>Order</a></dd>
			<dd><a href='#' data-order='discipline'>Discipline</a></dd>
		</dl>
	</div>

	<div class='columns small-1'>
		<a href='#' class='button tiny radius' data-reveal-id='character-fields-modal'>+</a>
	</div>

	<div class='columns small-1'>
		<div class="loading hide">
			<!-- We make this div spin -->
			<div class="spinner">
				<!-- Mask of the quarter of circle -->
				<div class="mask">
					<!-- Inner masked circle -->
					<div class="maskedCircle"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class='row'>
	<div class='columns small-12'>
		<table id='character-list'>
			<!-- {{ rooster|safe }} -->
			{% for group in rooster %}
				<thead>
					<tr>
						<th colspan="8">
							{{ group.group }} ({{ group.characters|count }})
						</th>
					</tr>
				</thead>

				<tbody>
					{% for character in group.characters %}
						<tr>
							<td>{{ character.name }}</td>
							<td>{{ character.level }}</td>
							<td>{{ character.sex }}</td>
							<td>{{ character.race }}</td>
							<td>{{ character.profession }}</td>
							<td>
								{% if character.disciplines %}
									{% for discipline in character.disciplines -%}
										{% if not loop.first %}, {% endif %}
										{{ discipline }}: {{ character.disciplines[discipline] }}
									{%- endfor %}
								{% endif %}
							</td>

							<td>
								<button class='button tiny alert radius delete'>
									Delete
								</button>
							</td>

							<td>
								<button class='button tiny radius update' 
									 data-reveal-id='character-fields-modal'
									      data-name='{{ character.name }}'
									     data-level='{{ character.level }}'
									       data-sex='{{ character.sex }}'
									      data-race='{{ character.race }}'
									data-profession='{{ character.profession }}'
									     data-order='{{ character.order }}'
										 {% if character.disciplines -%}
											{% for discipline in character.disciplines %}
												data-discipline{{ loop.index }}='{{ discipline }}'
												data-discipline{{ loop.index }}_level='{{ character.disciplines[discipline] }}'
											{% endfor %}
										 {%- endif %}
									>
									Update
								</button>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			{% endfor %}
		</table>
	</div>
</div>

<div id='character-fields-modal' class='reveal-modal medium' data-reveal>
	<form method='POST' action=''>
		<div class='row'>
			<div class='small-10 columns'>
				<label>Name
					<input type='text' name='name'>
				</label>
			</div>

			<div class='small-2 columns'>
				<label>Level
					<input type='number' name='level'>
				</label>
			</div>
		</div>

		<div class='row'>
			<div class='small-4 columns'>
				<label>Sex
					{{ _select('sex', sexes) }}
				</label>
			</div>

			<div class='small-4 columns'>
				<label>Race
					{{ _select('race', races) }}
				</label>
			</div>

			<div class='small-4 columns'>
				<label>Profession
					{{ _select('profession', professions) }}
				</label>
			</div>
		</div>

		<div class='row'>
			<div class='small-8 columns'>
				<label>Discipline
					{{ _select('discipline1', disciplines, 'No discipline yet') }}
				</label>
			</div>

			<div class='small-4 columns'>
				<label>Level
					<input type='number' name='discipline1_level' disabled>
				</label>
			</div>
		</div>

		<div class='row'>
			<div class='small-8 columns'>
				<label>Discipline
					{{ _select('discipline2', disciplines, 'No discipline yet') }}
				</label>
			</div>

			<div class='small-4 columns'>
				<label>Level
					<input type='number' name='discipline2_level' disabled>
				</label>
			</div>
		</div>

		<div class='row'>
			<div class='small-12 columns'>
				<label>Order
					{{ _select('order', orders, 'No order yet') }}
				</label>
			</div>
		</div>

		<div class='row form-control'>
			<div class='small-12 columns text-right'>
				<button class='button tiny radius secondary cancel'>Cancel</button>
				<button class='button tiny radius save'>Add</button>
			</div>
		</div>
	</form>
</div>

{% endblock content %}

{% block scripts %}
<script>
$(function() {
	/* first thing, load the list of characters */
	$.ajax({
		url: '{{ url_for("CharacterView:index") }}',
		success: function (response) {
			console.log(response);
		}
	});
});
</script>
{% endblock scripts %}

{# vim:set ft=htmldjango: #}
