<div id='characters'>
	<div class='row'>
		<div class='columns small-11'>
			<dl class='sub-nav'>
				<dt>Group by:</dt>
				<dd ng-class="{active: listOrder=='level'}"><a ng-href='#/characters/level'>Level</a></dd>
				<dd ng-class="{active: listOrder=='race'}"><a ng-href='#/characters/race'>Race</a></dd>
				<dd ng-class="{active: listOrder=='profession'}"><a ng-href='#/characters/profession'>Profession</a></dd>
				<dd ng-class="{active: listOrder=='order'}"><a ng-href='#/characters/order'>Order</a></dd>
				<dd ng-class="{active: listOrder=='discipline'}"><a ng-href='#/characters/discipline'>Discipline</a></dd>
			</dl>
		</div>

		<div class='columns small-1'>
			<button class='button tiny radius' ng-click='add()'>+</button>
		</div>
	</div>

	<div class='row'>
		<div class='columns small-12'>
			<table ng-repeat='group in characters'>
				<thead>
					<tr>
						<th colspan='9'>
							<span class='group-name'>{{ group.group }}</span>
							(<span class='group-count'>{{ group.characters.length }}</span>)
						</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat='character in group.characters'>
						<td class='name'>{{ character.name }}</td>
						<td class='level'> {{ character.level }}</td>
						<td class='sex'>{{ sexes[character.sex] }}</td>
						<td class='race'>{{ races[character.race] }}</td>
						<td class='profession'>{{ professions[character.profession] }}</td>
						<td class='disciplines'>
							<span ng-repeat='(discipline, disc_level) in character.disciplines'><span ng-if='$index > 0'>, </span>{{ disciplines[discipline] }}: {{ disc_level }}</span>
						</td>
						<td class='order'>{{ orders[character.order] }}</td>
						<td class='option'>
							<button class='button tiny alert radius delete' data-slug=''>
								Delete
							</button>
						</td>

						<td class='option'>
							<button class='button tiny radius' ng-click='edit($parent.$index, $index)'>
								Edit
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<script type='text/ng-template' id='edit-character-content'>
		<form method='POST' action='' name='edit'>
			<div class='row'>
				<div class='small-10 columns'>
					<label>Name
						<input type='text' name='name' ng-model='character.name' required>
					</label>
					<small class='error' ng-show='edit.name.$error.required'>Name is required.</small>
				</div>

				<div class='small-2 columns'>
					<label>Level
						<input type='number' name='level' ng-model='character.level' required min='2' max='80'>
					</label>
					<small class='error' ng-show='edit.level.$error.required'>Level is required.</small>
					<small class='error' ng-show='edit.level.$error.max'>Max level is 80.</small>
					<small class='error' ng-show='edit.level.$error.min'>Min level is 2 (you must complete the tutorial).</small>
					<small class='error' ng-show='edit.level.$error.number'>Level must be a number.</small>
				</div>
			</div>

			<div class='row'>
				<div class='small-4 columns'>
					<label>Sex
						<select ng-model='character.sex' ng-options='k as v for (k, v) in sexes'required>
						</select>
					</label>
				</div>

				<div class='small-4 columns'>
					<label>Race
						<select ng-model='character.race' ng-options='key as value for (key, value) in races' required></select>
					</label>
				</div>

				<div class='small-4 columns'>
					<label>Profession
						<select ng-model='character.profession' ng-options='key as value for (key, value) in professions' required></select>
					</label>
				</div>
			</div>

			<div class='row'>
				<div class='small-8 columns'>
					<label>Discipline
						<select ng-model='character.discipline1' ng-options='key as value for (key, value) in disciplines'></select>
					</label>
				</div>

				<div class='small-4 columns'>
					<label>Level
						<input type='number' name='discipline1_level' ng-model='discipline1_level' max='500' min='1' ng-disabled='!character.discipline1'>
					</label>
					<small class='error' ng-show='edit.discipline1_level.$error.max'>Max discipline level is 500.</small>
					<small class='error' ng-show='edit.discipline1_level.$error.min'>Min discipline level is 1.</small>
				</div>
			</div>

			<div class='row'>
				<div class='small-8 columns'>
					<label>Discipline
						<select ng-model='character.discipline2' ng-options='key as value for (key, value) in disciplines'></select>
					</label>
				</div>

				<div class='small-4 columns'>
					<label>Level
						<input type='number' ng-model='discipline2_level' max='500' min='0' ng-disabled='!character.discipline2'>
					</label>
					<small class='error' ng-show='edit.discipline2_level.$error.max'>Max discipline level is 500.</small>
					<small class='error' ng-show='edit.discipline2_level.$error.min'>Min discipline level is 1.</small>
				</div>
			</div>

			<div class='row'>
				<div class='small-12 columns'>
					<label>Order
						<select ng-model='character.order' ng-options='key as value for (key, value) in orders'></select>
					</label>
				</div>
			</div>

			<div class='row form-control'>
				<div class='small-12 columns text-right'>
					<button class='button tiny radius secondary' ng-click='close()'>Cancel</button>
					<button class='button tiny radius' ng-click='save()'>
						<span ng-show='isNew'>Add</span><span ng-hide='isNew'>Change</span>
					</button>
				</div>
			</div>
		</form>
	</script>
</div>
