nav.top-bar {
	margin-bottom: 5px;
}

table {
	width: 100%;
}

/* character list layout */
#characters td.name {
	width: 23%;
}

#characters td.level {
	width: 1%;
}

#characters td.sex {
	width: 7%;
}

#characters td.race {
	width: 6%;
}

#characters td.profession {
	width: 15%;
}

#characters td.disciplines {
	width: 17%;
}

#characters td.order {
	width: 15%;
}

#characters td.option {
	width: 8%;
}
